.youtube-audio {
	width:510px ;
	height:30px;
	background:#A4C639 ;
	display:flex;
}

.youtube-audio #youtube-audio-play {
	width:20px ;
	height:20px;
	margin:5px;
}
.youtube-audio #youtube-audio-currenttime {
	margin-top:4px;
	margin-right:1px;
}
.youtube-audio #youtube-audio-duration {
	margin-top:4px;
	margin-left:1px;
}
.youtube-audio #youtube-audio-progressbar {
	width:50% ;
	height:65%;
	margin:5px;
	background-color:brown;
}
.youtube-audio #youtube-audio-progress {
	width:0%;
	height:100%;
	background-color:green;
    display:inline-block;
}
.youtube-audio #youtube-audio-volume {
	width:20px ;
	height:20px;
	margin:5px;
}
.youtube-audio #youtube-audio-volumebar {
	width:18% ;
	height:35%;
	margin-top:10px;
	margin-right:5px;
	border-radius:20%;
	display:flex;
	background-color:brown;
}
.youtube-audio #youtube-audio-volumeprogress {
	width:100%;
	height:100%;
	border-radius:20%;
	background-color:green;
    display:inline-block;
}
.youtube-audio #youtube-audio-repeat {
	width:20px ;
	height:20px;
	margin:5px;
}